<!--The content below is only a placeholder and can be replaced.-->
<div class="view" style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
  <h4>made by {{madeBy}}</h4>
  <div>
    <div class="row">
      <div class="col-md-1"></div>
      <app-card class="col-md-2" *ngFor="let card of row1" [card]="card" style="cursor:pointer"></app-card>
      <div class="col-md-1"></div>
      <div class="col-md-1"></div>
      <app-card class="col-md-2" *ngFor="let card of row2" [card]="card" style="cursor:pointer"></app-card>
      <div class="col-md-1"></div>
      <div class="col-md-1"></div>
      <app-card class="col-md-2" *ngFor="let card of row3" [card]="card" style="cursor:pointer"></app-card>
      <div class="col-md-1"></div>
      <div class="col-md-1"></div>
      <app-card class="col-md-2" *ngFor="let card of row4" [card]="card" style="cursor:pointer"></app-card>
      <div class="col-md-1"></div>
      <div class="col-md-1"></div>
      <app-card class="col-md-2" *ngFor="let card of row5" [card]="card" style="cursor:pointer"></app-card>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>



